@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Amatic SC, Arial;
    font-weight: 300;
}

/* Headings and logo */

h1, h2 {
    font-family: Amatic SC, Arial;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu a { 
    text-decoration: none;
    color: inherit;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* Homepage */

#homepage {
    line-height: 75px;

}

#homepage-image {
    height: 600px;
    width: 100%;
    background: url('../image/pexels-photo-8477774.jpg') no-repeat center center;
    background-size: auto;
} 

#homepage-text {
    color: black;
    line-height: 75px;
    text-align: center;
    font-size: 200%;
    margin-bottom: 30px;
    background-color: #C1D7CB;
    
}

/* About */

#about {
    height: 300px;
    background-color: #76A78C;
}

#why-bake {
    padding-top: 30px;
    padding-left: 30px;
    width: 40%;
    margin: 75px 0 ;
    line-height: 20px;
    float: left;   
}

#how-does-it-work {
    padding-top: 30px;
    padding-right: 50px;
    margin: auto;
    width: 40%;
    line-height: 20px;
    float: right;

}

#why-bake-heading {
    font-size: 200%;
    margin-bottom: 20px;
}

#how-does-it-work-heading {
    font-size: 200%;
    margin-bottom: 20px;
}

/* Sign Up */

.sign-up {
    
    color: #C1D7CB;
    margin: 25px 300px;
    
}

.form {
    background-color: #E8B34D;
    color: black;
    margin: 150px 10% 20px 150px; 
    max-width: 500px;
    text-decoration: none;
    text-align: left;
    padding: 30px;
   
}

.text-input {
    color: black;
    width: 100%;
    height: 25px;   
    margin: 5px 0 20px 0;
    border: 1px solid black;
    

}

#submit {
    padding: 10px 28px;
    border-radius: 10px;
    text-align: center;
    font-size: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #76A78C;
    border: 1px solid black;
    color: white;
    
}

/* Contact */

#contact {
    background-color: #76A78C;
    height: 400px;
    width: 100%;
}

#contact-heading {
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 30px;   
}

#contact-text {
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    background-color: #76A78C;
}
