@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Amatic SC, Arial;
    font-weight: 300;
}

/* Headings and logo */

h1, h2 {
    font-family: Amatic SC, Arial;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 2rem;
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu a { 
    text-decoration: none;
    color: inherit;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* Homepage */

#homepage-image {
    height: 600px;
    width: 100%;
    background: url('../image/pexels-photo-8477774.jpg') no-repeat center center;
    background-size: auto;
} 

/* About */

#about {
    height: 600px;
    width: 100%;
    background-color: #76A78C;
}
#about-heading {
    color: black;
    line-height: 75px;
    text-align: center;
    font-size: 200%;
    background-color: #C1D7CB;
}

.flex-container {
    display: flex;
}
.flex-container > div{
    margin: 5% 10%;
    padding: 1rem;
    font-size: 150%;
    letter-spacing: 1px;
}

#why-bake-heading {
    font-size: 200%;
    padding: 1rem;
    text-align: left;
}

#how-does-it-work-heading {
    font-size: 200%;
    padding: 1rem;
    text-align: left;
}

/* Sign Up */

#sign-up {
    height: 600px;
    width:100%
    
}

.form {
    background-color: #E8B34D;
    color: black;
    max-width: 500px;
    text-decoration: none;
    text-align: left;
    padding: 2rem;
    margin: 10% 0 0 30%;
   
}

.text-input {
    color: black;
    width: 100%;
    height: 25px;   
    margin: 5px 0 20px 0;
    border: 1px solid black;
    

}

#submit {
    padding: 10px 28px;
    border-radius: 10px;
    text-align: center;
    font-size: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #76A78C;
    border: 1px solid black;
    color: white;
    
}

/* Contact */

#contact {
    background-color: #76A78C;
    height: 400px;
    width: 100%;
}

#contact-heading {
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 30px;   
}

#contact-text {
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    background-color: #76A78C;
}

/* Footer*/

footer{
    height: 150px;
}

.Social-media-icons {
    text-align: center;
}

.Social-media-icons li {
    display: inline;
}

.Social-media-icons i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #E8B34D;
}

/* Media queries */

/* For larger to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
     .about {
        width: 65%;
        
        padding: 10rem 0;
        margin: 0;
    }
}
